.peculiarities {
  // padding-top: 94px;
  padding-top: 60px;
  padding-bottom: 60px;
}
.peculiarities-list {
  // display: flex;
  // align-items: center;

  @include mq(tablet) {
    display: flex;
    flex-wrap: wrap;
  }
  @include mq(tablet-only) {
    margin: -15px;
  }
}

.peculiarities-list__item {
  width: 100%;
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }

  @include mq(tablet-only) {
    margin: 15px;
    width: calc(100% / 2 - 30px);
  }

  @include mq(desktop) {
    margin-right: 30px;
    width: calc(100% / 4 - 30px);
  }
}

.peculiarities-list__title {
  color: var(--primary-text-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;

  margin-top: 0px;
  margin-bottom: 10px;

  @include mq(tablet) {
    text-align: left;
  }
}

.peculiarities-list__text {
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  margin-top: 0px;
  margin-bottom: 0px;
}
/* SVG-sprite benefits */
.container__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;

  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.peculiarities__icon {
  width: 70px;
  height: 70px;
  fill: inherit;
}
