.client__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 50px;

  color: var(--primary-text-color);
}
.clients-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.clients-list__link {
  color: var(--primaty-icon-color);
  border: 1px solid var(--primaty-icon-color);
  border-radius: 4px;
  width: 170px;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    color: var(--accent-color);
    border-color: var(--accent-color);
  }

  &:focus {
    color: var(--accent-color);
    border-color: var(--accent-color);
  }
}

.clients-list__icon {
  fill: currentColor;
  width: 106px;
  height: 60px;
}
/* SVG-sprite clients */

// .icon-clients {
//   color: var(--primaty-icon-color);
//   border: 1px solid var(--primaty-icon-color);
//   border-radius: 4px;
//   width: 170px;
//   height: 92px;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   margin-right: 30px;
// }
// .icon-clients:hover,
// .icon-clients:focus {
//   color: var(--accent-color);
//   border-color: var(--accent-color);
// }
.icon-company {
  fill: currentColor;
  width: 106px;
  height: 60px;
}
