/* Секция Галерея */
/* ovelay gallery */
.gallery-list {
  display: flex;
  @include mq(mobile-only) {
    flex-direction: column;
  }

  @include mq(tablet-only) {
    margin: -15px;
    flex-wrap: wrap;
  }

  @include mq(desktop) {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-right: -30px;
    margin-bottom: -30px;
  }
}
.gallery-list__item {
  margin-top: 40px;
  margin-bottom: 30px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @include mq(tablet-only) {
    width: calc(100% / 2 - 30px);
    margin: 15px;
  }

  @include mq(desktop) {
    width: calc(100% / 3 - 30px);
    margin: 0 30px 30px 0;
    // margin-right: 30px;
    // margin-bottom: 30px;
    // .gallery-list__item:nth-child(3n) {
    //   margin-right: 0;
    // }
    // .gallery-list__item:nth-last-child(-n + 3) {
    //   margin-bottom: 0;
    // }
  }

  border: 1px solid #eeeeee;
}
.gallery-list__item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.gallery-list__item:hover .gallery-list__thumb-text {
  transform: translatey(0%);
}

.gallery-list__thumb {
  position: relative;
  overflow: hidden;
}

.gallery-list__thumb-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  padding: 63px 24px;
  margin: 0;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;

  color: var(--primary-white-color);
  background-color: rgba(33, 150, 243, 0.9);

  transform: translatey(-100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.name__wrapper {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
}

.gallery-list__title {
  color: var(--primary-text-color);

  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  margin-top: 0;
  margin-bottom: 4px;
}
.gallery-list__text {
  color: var(--secondary-text-color);

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;

  margin-top: 0;
  margin-bottom: 0;
}
