.hero {
  background-color: #2f303a;
  padding-top: 118px;
  padding-bottom: 118px;

  text-align: center;
  @include mq(desktop) {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
/* Overlay */

.overlay {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/overlay-section/overlay-sm.jpg);

  @include mq(retina) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/overlay-section/overlay@2x-sm.jpg);
  }

  @include mq(tablet) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/overlay-section/overlay-md.jpg);

    @include mq(retina) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/overlay-section/overlay@2x-md.jpg);
    }
  }

  @include mq(desktop) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/overlay-section/overlay-lg.jpg);

    @include mq(retina) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/overlay-section/overlay@2x-lg.jpg);
    }
  }
}

.hero__title {
  color: var(--primary-white-color);

  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;

  letter-spacing: 0.06em;
  text-transform: uppercase;

  margin-left: auto;
  margin-right: auto;

  margin-top: 0px;
  margin-bottom: 30px;

  @include mq(tablet) {
    width: 360px;
  }

  @include mq(desktop) {
    width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

/* Button */

.primary__button {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  border-color: transparent;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms,
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    background-color: var(--primary-white-color);
    color: var(--accent-color);
  }
  &:focus {
    background-color: var(--primary-white-color);
    color: var(--accent-color);
  }
}
