.work__title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;

  margin-top: 0px;
  margin-bottom: 50px;
}
.work-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.work-list__item {
  margin-right: 30px;
  position: relative;

  &:last-child {
    margin-right: 0;
  }
}
.work-list__annexes {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;

  padding: 27px 82px;
  margin: 0;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  background-color: rgba(47, 48, 58, 0.8);
  color: var(--primary-white-color);
}
