.team {
  background-color: #f5f4fa;
}
.command__title {
  color: var(--primary-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;

  margin-top: 0;
  margin-bottom: 50px;
}
.leader-list {
  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--secondary-text-color);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}
.leader-list__item {
  text-align: center;
  margin-right: 30px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  &:last-child {
    margin-right: 0;
  }
}

.team__padding {
  padding-top: 30px;
  padding-bottom: 30px;
}
.leader-list__title {
  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  margin-top: 0;

  margin-bottom: 10px;
}
.leader-list__text {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

/* SVG-sprite our team */
.team-network {
  display: flex;
  justify-content: center;
  align-items: center;
}
.team-network__item + .team-network__item {
  margin-left: 10px;
}
.team-network__social {
  color: var(--primaty-icon-color);
  border-radius: 50%;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    background-color: var(--accent-color);
    color: var(--primary-white-color);
  }
  &:focus {
    background-color: var(--accent-color);
    color: var(--primary-white-color);
  }
}

.team-network__icon {
  fill: currentColor;
  width: 20px;
  height: 20px;
}
